/* ==================
          头像
 ==================== */

.cu-avatar {
	font-variant: small-caps;
	margin: 0;
	padding: 0;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
	color: #ffffff;
	white-space: nowrap;
	position: relative;
	width: 64upx;
	height: 64upx;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
	font-size: 1.5em;
}

.cu-avatar.sm {
	width: 48upx;
	height: 48upx;
	font-size: 1em;
}

.cu-avatar.lg {
	width: 96upx;
	height: 96upx;
	font-size: 2em;
}

.cu-avatar.xl {
	width: 128upx;
	height: 128upx;
	font-size: 2.5em;
}

.cu-avatar .avatar-text {
	font-size: 0.4em;
}

.cu-avatar-group {
	direction: rtl;
	unicode-bidi: bidi-override;
	padding: 0 10upx 0 40upx;
	display: inline-block;
}

.cu-avatar-group .cu-avatar {
	margin-left: -30upx;
	border: 4upx solid #f1f1f1;
	vertical-align: middle;
}

.cu-avatar-group .cu-avatar.sm {
	margin-left: -20upx;
	border: 1upx solid #f1f1f1;
}